* {
margin:0;
padding: 0;
}


.wrapper {
margin-left:20%; 
margin-top:2em;
display:block;
}

.wrapper,
ul {
list-style:none;
display:inline-block;
}

.block,
ul li {
width:2em;
height:2em;
}

.block {
background:#ccc;
}

body{
  background:#fff;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 0;
	height: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}