* {
margin:0;
padding:0;
}


.wrapper {
margin-left:20%; 
margin-top:2em;
  display:block;
}

ul {
list-style:none;
display:inline-block;
}

.dot,
ul li {
width:2em;
height:2em;
margin:2px;
}

.dot {
background:#ccc;
  cursor:pointer;
  -webkit-transition:all 1.5s ease;
    -moz-transition:all 1.5s ease; 
    -o-transition:all 1.5s ease; 
    transition:all 1.5s ease;

}

.quadrado {
background:#000;
border-radius:0%;

}
body{
  background:#fff;  
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 0;
	height: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}