*{
	margin:0;
	padding:0;
}

.grid.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid.ul{
	list-style = none;
	display = inline-block;
}

.grid,
ul li{
	width:;
	height:;
	margin:1px;
}

.block{
    height: 30px;
    width: 30px;
	background:#ccc;
	cursor:pointer;
    display: inline-grid;
}

