nav {
    background: #4b504b;
    margin: -8px;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0px;
}

.logo-img {
    margin-top: -12px;
    margin-left: 12px;
}

.nav-bar {
    color: orange;
    position: absolute;
    top: 41px;
    right: 14%;
}